{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<form action="{{ path('app_login') }}" method="post">
	<h1 class="text-white">Connexion au site</h1>
		<div class="form-group">
			<input type="text" placeholder="Adresse mail" name="_username" class="form-control" required autofocus>
		</div>
		<div class="form-group">
			<input type="password" placeholder="Mot de passe" name="_password" class="form-control" required>
		</div>
		<div class="form-group">
			<button class="btn btn-warning" type="submit">Se connecter</button>
		</div>
	</form>
{% endblock %}
