#logo{
    width: 50px;
}

body {
    background-color: #36393e;
}

.img-tool{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #ffc107!important;
    color: black;
}
.nav-pills .nav-link{
    background-color: white!important;
    color: black;
}